<% playlist.forEach(playlist => { %>
    <article><a>
        <% if (playlist.image) { %>
            <img class="playlist-img" src="https://fdnd-agency.directus.app/assets/<%= playlist.image.id %>" width="<%= playlist.image.width %>" height="<%= playlist.image.height %>"  alt="playlist">
        <% }  else { %> 
            <img class="playlist-img" src="./Placeholder-1.png" width="448" height="380" alt="playlist"> 
        <% } %>

            <h5><%= playlist.title %></h5>

            <div><%- include('./svg-play') %>

            <p>31 min. 55sec</p></div>

        </a>
    </article>  
<% }) %>