<% playlist.filter((item) => item.liked ).slice(0,4).forEach(item => { %>
  <article>
  <a> 
    <% if (item.image) { %>
    <img class="playlist-img" src="https://fdnd-agency.directus.app/assets/<%= item.image.id %>" width="<%= item.image.width %>" height="<%= item.image.height %>" loading="lazy" alt="playlist">
    <% }  else { %> 
    <img class="playlist-img" src="./Placeholder-1.png" width="200" height="200" alt="playlist"> 
  <% } %>
  <h5><%= item.title %></h5>
    
  <%- include('./svg-play') %>
  </a>

  <form method="POST" action="/<%= item.id %>/like-or-unlike">
      
    <button title="unlike playlist" type="submit" name="action" value="unlike">
      <%- include('./svg-unlike') %></button>

    </form>
  </article>
<% }) %>

<% if (!playlist.length > 0) { %>
  <p>You have no liked playlists yet.</p>
<% } %>